@model ContatoModel
@{
	ViewData["Title"] = "Apagar contato";
}

<div class="text-center">
	<h1 class="display-4">Remover Contato</h1>
	<br />
	<h2 class="display-5">Você realmente deseja remover este contato (@Model.Nome) ?</h2>
	<br />
	

	<a role="button" class="btn btn-danger w-100" asp-controller="Contato" asp-action="Deletar" asp-route-id="@Model.Id">Apagar</a>

	<a role="button" class="btn btn-primary w-100" asp-controller="Contato" asp-action="Index">Voltar</a>
	


</div>

<br />
