
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo Isaac</h1>
    <p>Meu primeiro Site MVC</p>
    <span>Seu email é Isaac.cade18@gmail.com: </span>
</div>
